@font-face {
    font-family: 'Agdasima';
    src: url('../../Assets/Agdasima-Regular.ttf');
}
@font-face {
    font-family: "Poppins";
    src: url("../../Assets/Poppins-Regular.ttf");
}
body
{

    background: linear-gradient(to right, #000000 48.08%, #252424 100%);
    height: 100vh;

}
.container
{
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    background: linear-gradient(to right, #000000 48.08%, #252424 100%);

}
.blog_main_cointainer
{
    

    background-color: none;
}
 
.blog_main_cointainer{
    width: 100%;
    display: flex;
    padding-top: 50px;
    gap: 50px;
    background: #000000;
    background: linear-gradient(267deg, rgba(0, 0, 0, 1) 44%, rgba(64, 60, 60, 1) 90%);
}
.blog-img{
    padding-left: 40px;
}
.blog-img img{
    width: 553px;
    height: 653px;
    flex-shrink: 0;
}
.blog-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
}
.blog-content h1{
    color: #FFF;
    text-align: start;
    font-family: 'Agdasima';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 30px;
}

.blog-content ul{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.blog-content li{
    list-style: none;
    color: #FFF;
    font-family: 'Agdasima';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.blog-content p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    width: 700px;
}
.blog-content p , p{
   margin-top: 20px;
}


@media (max-width: 768px) {
   .blog_main_cointainer{
      width: 100%;
      flex-wrap: wrap;
   }
   .blog-img{
    padding: 0;
   }
   .blog-img img{
    width: 400px;
    height: 500px;
   }
   .blog-content p{
    width: 400px;
    text-align: center;
   }
   .blog-content ul{
     flex-direction: column;
   }
   .blog-content li{
      width: auto;
      margin: auto;
   }
   .blog-content{
    width: 100%;
   }
   .blog-content h1{
    text-align: center;
   }
}
