* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Agdasima';
    src: url('../../Assets/Agdasima-Regular.ttf');
}

body{
    background-color:linear-gradient(180deg, #000000 48.08%, #252424 100%);;
}


.navbar_container {
    width: 100%;
    height: 10vh;
    font-family: 'Agdasima', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( #000000 48.08%, #252424 100%);

}

.navbar_container img {
    width: 142.74px;
    height: 24px;
    margin-left: 50px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 10px;
    justify-content: start;
    text-align: center;
    width: 80wv;
    list-style: none;
}


.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.nav-link a:hover {
    color: orange;
}


.navButton {
    width: 85px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(180deg, #000000 48.08%, #252424 100%);

    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Agdasima', sans-serif;
    cursor: pointer;

}

.navButton:hover {
    color: orange;
}

.header_container,
.header-main,
.header {
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
}
.nav-link a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.menu-icon{
    display: none;
}
.res-Button{
    width: 85px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(180deg, #000000 48.08%, #252424 100%);

    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Agdasima', sans-serif;
    cursor: pointer;
}
 li:nth-child(8) {
  display: none;
  
}

/* mobile responsive */

@media (max-width: 760px){
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        color: white;
        transform: translate(-100%,90%);
        cursor: pointer;
    }
    .nav-menu{
        background: linear-gradient(180deg, #000000 48.08%, #252424 100%);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: -100%;
        transition: all .4s ease;
        overflow: auto;
        opacity: 0;
    }
    .nav-menu.active{
         background: linear-gradient(180deg, #000000 48.08%, #252424 100%);
         left: 0;
         transition: all .5s ease;
         opacity: 1;
    }
    .nav-link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .res-Button{
        display: none;
    }
     li:nth-child(8) {
       display: block;
    }

}