@font-face {
    font-family: 'Agdasima';
    src: url('../../Assets/Agdasima-Regular.ttf');
}

.blog{
    width: 100%;
}
.blog h1{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 8px 4px rgba(29, 28, 28, 0.25);
    font-family: 'Agdasima';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    background-image:  url(..//..//Assets/image.png);
    background-position: left;
    padding-top: 10px;
}
.blog span{
    color: rgb(80, 80, 80);       
}
.blog-container1{
    height: 382px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 100%;
    background-image: url(..//..//Assets/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}

.img-box{
    /* width: 50%; */
    height: 214px;
    flex-shrink: 0;
}
.img-box img{
    width: 573px;
    height: 214px;
    flex-shrink: 0;
    border-radius: 16px;
}
.txt-box{
    width: 50%;
}
.txt-box h3{
   color: #FFF;
   text-align: center;
   font-family: 'Agdasima';
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 1.4px;
   margin-bottom: 35px;
}
.txt-box ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.txt-box ul li{
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}
.txt-box p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
}
.blog-container2{
    height: 382px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 100%;
    background-image: url(..//..//Assets/image\ \(1\).png);
    background-position:left center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
}
.txt-box2{
    text-align: center;
    justify-items: center;
}
.txt-box2 p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 1px;
    text-align: left;

    margin-top: 30px;
}
.txt-box2{
    width: 50%;
    padding-right: 50px;
}
.txt-box2 h3{
   color: #FFF;
   text-align: center;
   font-family: 'Agdasima';
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 1.4px;
   margin-bottom: 35px;
}
.txt-box2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}
.txt-box2 ul li{
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}
.txt-box2 img{
     width: 573px;
     height: 214px;
     flex-shrink: 0;
     border-radius: 16px;
}



@media (max-width: 768px){

    .blog{
       width: 100%;
       padding-top: 40rem;
     }
     .blog-container1{
        flex-direction: column;
        padding-bottom: 10.625rem; 
        padding-top: 18.625rem;
        background-position:top 1%  right 4%;
        height: 550px;
     }
     .img-box{
        width: auto;
        height: auto;
        flex-shrink: 0;
        padding-left: 0px;
     }
     .img-box img{
        width: 320px;
        height: 200px;
     }
     .txt-box{
        width: auto;
        height: auto;
        padding-bottom: 10px;
     }
     .txt-box h3{
        font-size: 20px;
        font-style: small;
        line-height: small;
        letter-spacing: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
     }
     .txt-box ul{
       margin-bottom: 5px;
       margin-top: 15px;
       margin-bottom: 15px;
     }
     .txt-box p{
        font-style: small;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
     }
     .blog-container2{
        width: 100%;
        height: 550px;
        flex-direction: column-reverse;
        padding-top: 1rem;
        background-position: left 5% bottom 55%;
     }
     .txt-box2 p{
        font-style: small;
        text-align: center;
        padding-left: 0px;
        margin-top: 10px;
         margin-top: 15px;
        margin-bottom: 15px;
     }
     .txt-box2{
        width: 100%;
        padding: 0;
     }
     .txt-box2 h3{
        font-size: 20px;
        font-style: small;
        line-height: small;
        letter-spacing: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
     }
     .txt-box2 ul{
        margin-top: 15px;
        margin-bottom: 15px;
     }
}